body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFF1F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
canvas {
  height: 401px !important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  width: 23%;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: white !important;
}
.MuiTooltip-tooltip.MuiTooltip-tooltipPlacementTop.css-ja5taz-MuiTooltip-tooltip {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: white;
  color: black;
  font-size: 14px;
  border: 1px solid black;
  padding: 17px;
}
.MuiTabs-flexContainer {
  display: flex;
  width: 51%;
  margin: auto;
}
.PrivateTabIndicator-colorSecondary-5 {
  background-color: #ededed !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
  vertical-align: top;
}
.css-16lmm6v-MuiPaper-root-MuiTableContainer-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1pxrgba(0,0,0,0.2),0px 1px 1px 0pxrgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  width: auto !important;
  overflow-x: auto;
}